/*
	Theme name : webgranth
	Author : Samir Shaikh
	Version : 1.0;
*/

html, body, div, span, applet, object, iframe,  p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

h2{
	display: block;
	text-align: center;
	padding: 20px;
}

body{
	font-size: 15px;
	color: #333;
	margin: 0;
}


div.container{
	max-width: 100%;
	margin :  0 auto;

}


a:link,
a:visited{
}


/*Genral Layout*/



/* Header */
.site-header{
	width: 100%;

}
header{
	position: fixed;
}

.title{
	display: inline-block;
	width: 30%;
	padding: 10px;
	vertical-align: middle;
}
.site-nav{
	vertical-align: middle;
}
.title a{
	text-decoration: none;
}

nav{
	display: inline-block;
	width: 60%;
}
.site-nav ul{
	margin: 0;
	padding: 0;
}


.site-nav ul li{
		list-style : none;
		float: left;
}


	
a{
	color: white;
}


.site-header nav ul li a{
	text-transform: uppercase;
}


/* Site Header menu*/
.site-header nav ul li a:link,
.site-header nav ul li a:visited{
	display : block;
	padding : 10px 18px; 
	text-decoration: none;
}


.site-header nav ul li a:hover{
	color:  #006ec3;
}


.site-header nav ul li{
	margin-right: 5px; 
}


.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited{
	color: #006ec3; 
}



.wrapper{
	width: 95%;
	margin : 0 auto;
}


.banner{
	width: 100%;
	margin : 0 auto;
	background-image: url('http://localhost/webgranth/wp-content/uploads/2018/07/banner-img.jpg');
	background-size: cover;
	padding-bottom: 400px;
}

.banner-mod{

}

ul, li{
	list-style: none;
}

/* INFO DIV*/

.info{
	width: 100%;
}

.testimonal{
	padding: 10px;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.blog{
	padding: 10px;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.about-company{
		padding: 10px;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.item-image img {
	width: 70px;
	height: 70px;
} 
.item-image{
	vertical-align: top;
	display: inline-block;
}
.item-data{

	vertical-align: top;
	display: inline-block;	
	padding-left: 10px;
}

.blog-li{
	list-style: none;
	padding-bottom: 10px;
}

.item-title, .item-date{
	margin :  0;
}



.social-image{
	padding: 5px;
}


/* CONTENT*/

.work{
	width: 100%;
}	
.work-mod{
	padding : 50px 0;
	width: 80%;
	margin : 0 auto;
}

.work-li{
	width: 33%;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 20px;
}
.work-image{
	box-sizing: border-box;
	width: 100%;
}

.work-image img{
	width: 100%;
}




.service{
	width: 100%;
}
.service-mod{
	padding : 20px 0 20px;
	width: 80%;
	box-sizing: border-box;
	margin : 0 auto;
}

.service-li{
	width: 33%;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 20px;
}
.service-sub{
	width: 100%;
	margin-bottom: 10px;
}

.service_icon{
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding: 5px;	
	box-sizing: border-box;

}

.service_icon img{
	width: 100%;
}

.service_title{
	width: 79%;
	padding-left: 10px;
	box-sizing: border-box;
	margin-left: -2px;
	display: inline-block;
	vertical-align: top;

}
.service_title h3{
	padding : 0;
	margin :  0;
	font-size: 24px;
}






.info{
	color: #fff;
	background-image: url('http://localhost/webgranth/wp-content/uploads/2018/07/banner-img.jpg');
	background-size: cover;

}

.info p{
	color: gray;
}

.info i{
	color: blue;
}


/* Footer */

.site-footer{

	padding: 20px;
}



.error_not_found{
	color : red;	
}







/* Footer Menu*/

.site-footer nav ul li{
	margin-right: 10px;
	padding-right: 10px;
	border-right :  1px dotted 	#BBB;
	text-decoration: none;
}
.site-footer nav ul li a{
	color: #000;
}

.site-footer nav ul li a:link,
.site-footer nav ul li a:visited{
	text-decoration: none;
}

.site-footer .site-nav{
	display: inline-block;
}

.copyright{
	display: inline-block;	
}